<!doctype html>

<html>
<head>
  <meta charset="utf-8" />
  <title>gridworks - sign up</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/static/grid/jquery-1.10.2.js" type="text/javascript"></script>

 <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen" type="text/css">
 <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" media="screen" type="text/css">
    <link href="/static/bootstrap/css/bootstrap-extensions.css" rel="stylesheet" media="screen" type="text/css">
    <link href="/static/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet" type="text/css">
  <script src="/static/bootstrap/js/bootstrap.js"></script>

  </head>
<body>
<h1> thegridworks </h1>

<div class="container">
          <div class="row-fluid">
              <div class="span12">
                  <div class="span6">
                      <div class="area">
                            <form class="form-horizontal" action="/login/" method="post">
                              {% csrf_token %}
                                <div class="heading">
                                    <h4 class="form-heading">Sign In</h4>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputUsername">Username</label>
                                    <div class="controls">
                                        <input type="text" name="username" id="inputUsername" placeholder="Required">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputPassword">Password</label>
                                    <div class="controls">
                                        <input type="password" name="password" id="inputPassword" placeholder="Min. 8 Characters">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input type="checkbox"/> Keep me signed in
                                            <a href="/accounts/password/reset/" class="btn btn-link">Forgot my password</a>

                                        </label>
                                        <button type="submit" class="btn btn-success" >Sign In</button>
                                        <button type="button" class="btn">Help</button>
                                    </div>
                                    <a href="/accounts/register/">Sign up</a>

                                </div> 
                                {% if form.errors %}
                                <div class="alert alert-error" style=>
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    <strong>Check username and password</strong>
                                </div>
                                {% endif %} 

                                <input type="hidden" name="next" value="/grid/" />
                            </form> 
            </div>                           
                    </div>
                    
                    <!--new user-->
                </div>
              
            </div>
        </div>
      </body>
</html>
