{% load humanize %}
{% load my_app_filters %}
<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Grid</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="/static/grid/jquery-1.10.2.js" type="text/javascript"></script>
	<!-- GOOGLE MAPS -->
	 <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>

	<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?sensor=false">
    </script>



	<!--<script src="/static/grid/jquery.jeditable.js" type="text/javascript"></script>
<script src="/static/grid/custom.js" type="text/javascript"></script>
-->
	
    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen" type="text/css">
    <link href="/static/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet" type="text/css">
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap-editable/js/bootstrap-editable.js"></script>
    <script src="/static/grid/address.js"></script>
    <script src="/static/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="/static/bootstrap/js/bootstrap-popover.js"></script>

    <script src="/static/grid/myscript.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/grid/mystyle.css">	



</head>
<div style="height:20px"></div>
<div style="display:inline-block;width:60px"></div>
<h1 style="display:inline-block">welcome {{ this_user.username }}</h1>
<a href="#"  class="editpostcode" method="get" data-url="/grid/sort/" data-type:"text" style="display:inline">
Filter by postcode 
</a>
<div style="height:30px"></div>
<div style="display:inline-block;width:60px"></div>
<div style="display:inline-block">
<table style:"table-layout:fixed" class="table table-bordered"> 
	<thead class=tablehead>

		<tr style="height:15px">
			<th> </th>
			{% for user in all_users %}
			<th style="width:140px">{{ user.username }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
	{% for restaurant in table_data %}
		<tr class="rows">
			<td style="width:120px">
				<a href="#" id="tester" rel="popover" class="showmap" data-toggle="popover" data-content="amazing content" data-location={{ restaurant.1.restaurant.address|spacify }},{{ restaurant.1.restaurant.post_code.name|spacify }}>
					<b>{{ restaurant.1.restaurant.name }}, {{ restaurant.1.restaurant.post_code.name }}</b>{% if restaurant.0.restaurant.distance %}, {{ restaurant.0.restaurant.distance.km|floatformat:"1"|intcomma }}km away{% endif %}</a>
			</td>
			{% for user_review in restaurant %}
			<td class="reviewbox">
				<div class="generalreviewdiv">
					<div class={% if user_review.review and user_review.good %}
						review_exists_good
						{% elif user_review.review and not user_review.good %}
						review_exists_bad
						{% else %}
						no_review
						{% endif %}
					>

						<div href=# 	
							id={% if user_review.review %}{{ user_review.id }}{% else %}{{ user_review.reviewer.id }}-{{ user_review.restaurant.id }} {% endif %}

							data-type="textarea"
							data-pk="1"
							data-url="/grid/update/"
							data-title="Write a review"

						 	class={% if user_review.reviewer == this_user %}
						 			edit
						 			{% endif %} 
						 			name={{ user_review.id}}
						 	align="left"
						>

						{% if user_review.review %}{{ user_review.review }}
						{% elif user_review.reviewer == this_user %} Add your review! 
						{% else %}	
						{% endif %}
						</div>
					</div>
				</div>
			</td>
			{% endfor %}
		</tr>
	{% endfor %}
	<tr id="searchrow">
		<td id="searchbox" colspan={{ all_users|length|add:"1" }} >

<form class="form-search" style="margin-top:10px;margin-bottom:10px">
  <input type="text" placeholder="Add a restaurant" class="input-medium search-query">
  <button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i></button>
</form>	

		</td>

	</tr>
	</tbody>
</table>
</div>




</html>