{% load humanize %}
{% load my_app_filters %}
{% load staticfiles %}
<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>gridworks</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
  {% include "grid/scripts.html" %}

<!-- ACTUAL HTML-->
</head>
<h1 style="display:inline-block">
  thegridworks.com
</h1>
<div style="display:inline-block;text-align:right;vertical-align:top;padding-left:80px">
  <a href="#myModalJoin" id="joingrid" style="display:inline-block;" class="addtab">Find a grid</a>
  <a style="display:inline-block;padding-left:30px;cursor:pointer" id="account">{{ this_user.username }}</a>
  <a style="margin-right:80px;padding-left:30px;display:inline-block" href="/logout/">logout</a>
</div>

<div style="height:50px">

</div>

<ul class="nav nav-tabs" id="myTab">
	{% for group in table_data %}
	<li id={{ group.id }} {% if group.id == default_group.id %}class="active"{% endif %}><a data-toggle="tab" href={{ group.link_id }}>

<div>{{ group.name }}<button style="padding-left:10px;vertical-align:top" type="button" class="close grid-remove" data-dismiss="modal" aria-hidden="true" >×</button></div>

		</a>
  </li>
	{% endfor %}
	<li><a href="#myModalGrid" id="creategrid" class="addtab">Create a new grid +</a></li>
	<!--<li><a href="#grid3" class="addtab">Join a friend's grid</a></li>-->
</ul>


<!-- TAB DIV BEGINS HERE-->
<div class="tab-content">
{% for group in table_data %}
<div {% if group.id == default_group.id %}class="tab-pane active"{% else %}class="tab-pane"{% endif %} id={{ group.element_id }} style="margin-left:60px; margin-right:60px; margin-bottom:60px">
<div class="overarchingdiv" id={{ group.id }}>
<form id="newfilter" class="form-search custom-search" style="margin-top:10px;margin-bottom:10px;display:inline-block" method="post" autocomplete="off" action="/grid/sort/">
  <input type="text" id="new-filter-search-params" placeholder="Filter by postcode" class="input-medium search-query" name="filtername">
  <button id="submit-button" type="submit" class="btn btn-primary"><i class="icon-search"></i></button>
</form>	

{% if this_user.username == group.founder %}
<div class="dropdown" style="display:inline-block;cursor:hand;cursor:pointer">
  <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#">
    ({{ group.request_queue|length}}) Join requests
    <b class="caret"></b>
  </a>

  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
     {% if not group.request_queue %}
       <li><a tabindex="-1" href="#">No requests to approve</a></li>
       {% else %}
     {% for user in group.request_queue %}
        <li><a id={{ user.id }} tabindex="-1" class="approvemember" href="#"><b>{{ user.username }}</b> </a></li>
        {% endfor %}
        {% endif %}
      <li class="divider"></li>
      <li><a href="#myModalGridUpdate" style="padding:30px" class="editgrid" style="display:inline-block">Rename grid</a></li>
  </ul>
</div>

{% endif %}

</div>
{% include "grid/table.html" %}
</div>
{% endfor %}
</div> <!--end of tab pane-->
<div style="float:right; width:25%" ></div>
<div style="height:60px"></div>

{% include "grid/modals.html" %}

</html>
<img id="checkmark" style="display:none" src="{% static "grid/check_mark_green.png" %}" alt="checkmark"/>


<div id="confirminvitations" style="display:none">
<form method="POST" id="account_form">First name: <input id="fn" type="text" name="firstname" placeholder={{ this_user.first_name }}><br>Last name: <input id="ln" type="text" name="lastname" placeholder={{ this_user.last_name }}><input id="account_update" class="btn" type="submit" value="Update"></form>
<div class="dropdown" style="display:inline-block; padding:15px;cursor:hand;cursor:pointer">
  <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#">
    Confirm invitations ({{ approval_queue|length}})
    <b class="caret"></b>
  </a>

  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
     {% if not approval_queue %}
       <li><a tabindex="-1" href="#">No invitations to approve</a></li>
       {% else %}
     {% for grid in approval_queue %}
        <li><a id={{ grid.id }} tabindex="-1" class="approvegrid" href="#"><b>{{ grid.name }}</b> by <i>{{ grid.founder.username }}</i></a></li>
        {% endfor %}
        {% endif %}
  </ul>
</div>
</div>
<p id="defaultGrid" style="display:none">{{ default_group.id }}</p>
