.edit {}
.no_review {color: gray;}
.review_exists_good {
	color: #0044cc;
}
.review_exists_bad {color: orange;}

#searchbox {
}

.rows {
	height:140px;
	max-height:140px;
}
.reviewbox {
  width:160px;
  max-width:160px;
  vertical-align=top;
  overflow: auto;
}

.generalreviewdiv{}
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

#searchbox {
  max-width:280px;
  width:280px;
}