{% load staticfiles %}
<!doctype html>

<html>
<head>

<link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet" media="screen" type="text/css">
<link href="{% static "bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet" media="screen" type="text/css">
<link href="{% static "bootstrap/css/bootstrap-extensions.css" %}" rel="stylesheet" media="screen" type="text/css">
</head>
<h1>
	thegridworks.com
</h1>
<h3>
	new grid membership - confirmation
</h3>
<div class="span6">
  <div class="area">
<div class="heading">
	<h4>Confirmation complete!</h4>
	</div>
<div class="progress">
  <div class="bar bar-success" style="width: 100%;"></div>
</div>
<h4>Congratulations, {{ to_user.username }}, you've joined {{ from_user.username }}'s grid <b>{{ grid.name }}</b> </h4>
<a href="/grid/">Click here to check it all out now.</a>


</div>
</div>
</html>

